<%- include('head', { title: 'my custom page' }) -%>

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="#">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<form action="" method="post" onsubmit="check_credit_card()">
					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details col-md-12">
							<div class="section-title col-md-12">
								<h3 class="title">Billing address</h3>
							</div>
							<div class="form-group col-md-6">
								<label for="firstname">firstname</label>
								<input class="input" type="text" name="firstname" placeholder="First Name" value="<%= user.firstname %>" required> 
							</div>
							<div class="form-group col-md-6">
								<label for="lastname">lastname</label>
								<input class="input" type="text" name="lastname" placeholder="Last Name" value="<%= user.lastname %>" required>
							</div>
							<div class="form-group col-md-12">
								<label for="email">email</label>
								<input class="input" type="email" name="email" placeholder="Email" value="<%= user.email %>" required>
							</div>
							<div class="form-group col-md-12">
								<label for="address">address</label>
								<input class="input" type="text" name="address" placeholder="Address" value="<%= user.address %>" required>
							</div>
							<div class="form-group col-md-4">
								<label for="city">city</label>
								<input class="input" type="text" name="city" placeholder="City" value="<%= user.city %>" required>
							</div>
							<div class="form-group col-md-4">
								<label for="country">country</label>
								<input class="input" type="text" name="country" placeholder="Country" value="<%= user.country %>" required>
							</div>
							<div class="form-group col-md-4">
								<label for="zipcode">zipcode</label>
								<input class="input" type="text" name="zipcode" maxlength="5" placeholder="ZIP Code" value="<%= user.zipcode %>" required>
							</div>
							<div class="form-group col-md-12">
								<label for="phone">phone</label>
								<input class="input" type="text" name="phone" placeholder="phone" value="<%= user.phone %>" required>
							</div>
							
						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details col-md-12">
							<div class="section-title">
								<h3 class="title">Shiping address</h3>
							</div>
							<div class="input-checkbox">
								<input type="checkbox" id="shiping-address">
								<label for="shiping-address">
									<span></span>
									Ship to a diffrent address?
								</label>
								<div class="caption">
									<div class="form-group col-md-6">
										<label for="firstname">firstname</label>
										<input class="input" type="text" name="firstname" placeholder="First Name">
									</div>
									<div class="form-group col-md-6">
										<label for="lastname">lastname</label>
										<input class="input" type="text" name="lastname" placeholder="Last Name">
									</div>
									<div class="form-group col-md-12">
										<label for="email">email</label>
										<input class="input" type="email" name="email" placeholder="Email">
									</div>
									<div class="form-group col-md-12">
										<label for="address">address</label>
										<input class="input" type="text" name="address" placeholder="Address">
									</div>
									<div class="form-group col-md-4">
										<label for="city">city</label>
										<input class="input" type="text" name="city" placeholder="City">
									</div>
									<div class="form-group col-md-4">
										<label for="country">country</label>
										<input class="input" type="text" name="country" placeholder="Country">
									</div>
									<div class="form-group col-md-4">
										<label for="zipcode">zipcode</label>
										<input class="input" type="text" name="zipcode" maxlength="5" placeholder="ZIP Code">
									</div>
									<div class="form-group col-md-12">
										<label for="phone">phone</label>
										<input class="input" type="text" name="phone" placeholder="phone">
									</div>
								</div>
							</div>
						</div>
						<!-- /Shiping Details -->

						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								<% subtotal = 0 %>
								<% i = 0 %>
								<% products.forEach( product => { %>
								<% subtotal += product.new_price * product.product_qnt %> 
								<div class="order-col">
									<div><%= product.product_qnt%>x <%= product.name %></div>
									<div><%= product.new_price * product.product_qnt%>€</div>
								</div>

								<input type="hidden" name="products[<%= i %>][id]" value="<%= product.product_id %> ">
								<input type="hidden" name="products[<%= i %>][qnt]" value="<%= product.product_qnt %> ">
								<input type="hidden" name="products[<%= i %>][price]" value="<%= product.new_price * product.product_qnt %> ">


								
								<% i++}) %> 
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total"><%= subtotal %> €</strong></div>
							</div>
						</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-1" required>
								<label for="payment-1">
									<span></span>
									Direct Bank Transfer
								</label>
								<div class="caption">
									
										<%- include('credit_card') -%>
									
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2">
								<label for="payment-2">
									<span></span>
									Cheque Payment
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
							<div class="input-radio" >
								<input type="radio" name="payment" id="payment-3">
								<label for="payment-3">
									<span></span>
									Paypal System
								</label>
								<div class="caption">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div>
						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms" required>
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>
						 	<input type="hidden" name="uid" value="<%= user.id %> ">
							<button type="submit" class="primary-btn order-submit">Place order</a>
						</form> 
					</div>
					<!-- /Order Details -->
				</form>
				<script>
					function check_credit_card(){
						console.log("check credit card")
					}

				</script>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
<%- include('foot') -%>

		